html,
body,
#map-id {
  height: 100%;
  padding: 0;
  margin: 0;
  color: rgb(236, 48, 24)
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 1;
  }
.legend {
width: 50px;
background: white;
box-shadow: 0 0 16px black;
border-radius: 5px;
padding: 7px 9px;
color:black;
}

.alert {
  width: 230px;
  height:100px;
box-shadow: 0 0 16px black;
border-radius: 5px;
padding: 7px 9px;
color: rgb(235, 27, 0);
cursor:pointer;
}
